header {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 2em;
	justify-content: space-between;
	background-color: #3a4a8a;
	color: rgba(23, 185, 91, 0.678);
	margin-bottom: 2em;
}

nav a {
	margin: 0 1em;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: #db2b39;
}

header .nav-btn {
	padding: 5px;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 2rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

.logout-btn{
	border: none;
	background-color: transparent;
	color: white;
	font-size: 1.0rem;
	font-weight: bold;

}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5em;
		background-color: #29335c;
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2em;
		right: 2em;
	}

	nav a {
		font-size: 1.5rem;
	}
}